##############
# Global/OSX #
##############

.DS_Store
Icon?

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


###########
# Haskell #
###########

dist
dist-newstyle
*.o
*.hi
*.chi
*.chs.h


cabal.sandbox.config
.cabal-sandbox

########
# IDEs #
########

.vscode

#################
# etna workload #
#################

.hegel/
progress.jsonl
etna.log

/.hegel/
/.marauders/
/etna.log
/progress.jsonl
/dist-newstyle/
/etna/dist-newstyle/

# etna runtime artifacts (auto-added)
/coverage/
*.profraw
/profdata/
